/*********************** IDX custom font here *********************/

:root {
  /* Base color */
  --base-1: #1c262b; /*body color*/
  --base-2: #008ed3; /*heading color*/
  --base-3: #21386b;
  --base-4: #e9eaee; /*border + Tab color*/
  --base-5: #ffffff; /*white color*/
  --base-6: #000000;
  --base-7: rgba(151,151,151,0.2);
  --base-8: #0C1218;
  --base-9: #0A263B;

  /* Color scheme - primary */
  --primary-1: #1c262b; /*main color*/
  --primary-2: #008ed3; /*secondary color*/
  --primary-3: #21386b;

  /* Color scheme - Feedback */
  --error: #ff0000;
  --success: #008000;

  /* Tools variables */
  --tools-primary-panel-bkg: var(--base-2, #008ed3);
  --tools-primary-panel: var(--base-1, #1c262b);
  --tools-secondary-panel-bkg: var(--base-5, #ffffff);
  --tools-secondary-panel: var(--base-4, #e9eaee);
  --tools-border-lines: var(--base-7, rgba(151,151,151,0.2));
  --tools-headings: var(--base-3, #21386b);
  --tools-body: var(--base-1, #1c262b);
  --tools-chart-color--1: var(--primary-1, #1c262b);
  --tools-chart-color--2: var(--primary-2, #008ed3);
  --tools-chart-color--3: var(--primary-3, #21386b);

  /* date picker variables */
  --duet-color-primary: var(--tools-primary-panel-bkg);
  --duet-color-text: var(--tools-body);
  --duet-color-text-active: var(--tools-secondary-panel-bkg);
  --duet-color-placeholder: var(--tools-headings);
  --duet-color-button: var(--tools-secondary-panel-bkg);
  --duet-color-surface: var(--tools-secondary-panel-bkg);
  --duet-color-overlay: rgba(0, 0, 0, 0.8);
  --duet-color-border: var(--base-7);
  --duet-font: var(--primitive-family-body);
  --duet-font-normal: var(--primitive-weight-regular);
  --duet-font-bold: var(--primitive-weight-bold);
  --duet-radius: 8px;
  --duet-z-index: 600;

  /* Theme variables */
  --color-headline: var(--base-3, #21386b);
  --color-body: var(--base-1, #1c262b);
  --color-body-secondary: var(--base-2, #008ed3);
  --color-quote: var(--base-4, #e9eaee);
  --color-stats: var(--base-5, #ffffff);

  /* Global spacing */
  --lg-1: clamp(4.8rem, 3.0792rem + 4.5283vw, 9.6rem);
  --lg-2: clamp(4rem, 2.2792rem + 4.5283vw, 8.8rem);
  --lg-3: clamp(3.6rem, 2.0226rem + 4.1509vw, 8rem);
  --lg-4: clamp(3.2rem, 1.7660rem + 3.7736vw, 7.2rem);
  --md-1: clamp(2.8rem, 1.5094rem + 3.3962vw, 6.4rem);
  --md-2: clamp(2.4rem, 1.2528rem + 3.0189vw, 5.6rem);
  --md-3: clamp(2rem, 0.9962rem + 2.6415vw, 4.8rem);
  --md-4: clamp(2rem, 1.2830rem + 1.8868vw, 4rem);
  --sm-1: clamp(2rem, 1.5698rem + 1.1321vw, 3.2rem);
  --sm-2: clamp(1.6rem, 1.3132rem + 0.7547vw, 2.4rem);
  --sm-3: clamp(1.2rem, 1.0566rem + 0.3774vw, 1.6rem);
  --sm-4: clamp(0.8rem, 0.6566rem + 0.3774vw, 1.2rem);
  --xs-1: clamp(0.8rem, 0.8000rem + 0.0000vw, 0.8rem);
  --xs-2: clamp(0.4rem, 0.4000rem + 0.0000vw, 0.4rem);
  --nil: clamp(0rem, 0.0000rem + 0.0000vw, 0rem);

  /* Global Radius */
  --radius-nil:           0px;
  --radius-xs:            2px;
  --radius-sm:            4px;
  --radius-md:            8px;
  --radius-lg:            10px;
  --radius-xl:            16px;
  --radius-xxl:           24px;

  /* Typography - font family */
  --primitive-family-titles: "FFDINLight", Arial, sans-serif;
  --primitive-family-body: "FFDINRegular", Arial, sans-serif;
  --primitive-family-tertiary: "FFDINMedium", Arial, sans-serif;
  --primitive-weight-light: 300;
  --primitive-weight-regular: 400;
  --primitive-weight-medium: 500;
  --primitive-weight-semi-bold: 600;
  --primitive-weight-bold: 700;
  --primitive-weight-extra-bold: 800;

  /* Global Typography */
  --display-l-font-size: 48px;
  --display-l-line-height: 48px;

  --display-m-font-size: 37px;
  --display-m-line-height: 37px;

  --display-s-font-size: 32px;
  --display-s-line-height: 32px;

  --headline-l-font-size: clamp(2rem, 1.5698rem + 1.1321vw, 3.2rem);
  --headline-l-line-height: clamp(2.8rem, 2.2264rem + 1.5094vw, 4.4rem);

  --headline-m-font-size: clamp(1.8rem, 1.5849rem + 0.5660vw, 2.4rem);
  --headline-m-line-height: clamp(2.4rem, 2.1132rem + 0.7547vw, 3.2rem);

  --headline-s-font-size: clamp(1.4rem, 1.2566rem + 0.3774vw, 1.8rem);
  --headline-s-line-height: clamp(1.8rem, 1.5849rem + 0.5660vw, 2.4rem);

  --body-l-font-size: 18px;
  --body-l-line-height: 26px;

  --body-m-font-size: 16px;
  --body-m-line-height: 24px;

  --body-s-font-size: 14px;
  --body-s-line-height: 22px;

  --body-xs-font-size: 12px;
  --body-xs-line-height: 20px;

  /* Typography - font size */
  --display-lg-fs: var(--display-l-font-size, 4.8rem);
  --display-md-fs: var(--display-m-font-size, 3.7rem);
  --display-sm-fs: var(--display-s-font-size, 3.2rem);
  --headline-lg-fs: var(--headline-l-font-size, 2rem);
  --headline-md-fs: var(--headline-m-font-size, 1.8rem);
  --headline-sm-fs: var(--headline-s-font-size, 1.4rem);

  /* Typography - body font size */
  --body-lg-fs: var(--body-l-font-size, 1.8rem);
  --body-md-fs: var(--body-m-font-size, 1.6rem);
  --body-sm-fs: var(--body-s-font-size, 1.4rem);
  --body-xs-fs: var(--body-xs-font-size, 1.2rem);

  /* Typography - label font size */
  --label-font-size:        14px;
  --label-line-height:      1.4rem;
  --label-letter-spacing:   0px;
  --label-font-family:      var(--primitive-family-tertiary);
  --label-weight:           var(--primitive-weight-bold);

  /* Icon */
  --icon-font-size:         clamp(1.8rem, 1.5849rem + 0.5660vw, 2.4rem);

  /* Button */
  --button-font-size:       var(--body-md-fs);
  --button-line-height:     1.6rem;
  --button-letter-spacing:  0px;
  --button-font-family:     var(--primitive-family-tertiary);
  --button-weight:          var(--primitive-weight-medium);
  /*********************** IDX design system Variables ends here *********************/

  /****************** Component specific custom Variables starts here ****************/
  /* Table */
  --table-cell-padding-y: 15px;
  --table-cell-padding-x: 10px;
  --table-color: var(--tools-body);
  --table-bg: var(--tools-secondary-panel-bkg);
  --table-striped-bg: var(--tools-secondary-panel-bkg);
  --table-hover-bg: var(--tools-secondary-panel-bkg);
  --table-hover-color: var(--tools-body);
  --table-th-bg: var(--tools-secondary-panel-bkg);
  --table-th-color: var(--tools-body);
  --table-th-font-size: var(--body-md-fs);
  --table-th-font-weight: var(--primitive-weight-bold);
  --table-border-width: 1px;
  --table-border-color: var(--tools-border-lines);

  /* Form controls */
  --input-padding-y: 15px;
  --input-padding-x: 12px;
  --input-font-family: var(--primitive-family-body);
  --input-font-size: var(--body-md-fs);
  --input-font-weight: var(--primitive-weight-regular);
  --input-line-height: var(--label-line-height, 1.6rem);
  --input-bg: var(--tools-secondary-panel-bkg);
  --input-disabled-bg: var(--base-5);
  --input-disabled-color: var(--tools-body);
  --input-disabled-border-color: var(--base-7);
  --input-color: var(--base-8);
  --input-border-color: var(--base-7);
  --input-border-width: 1px;
  --input-border-style: solid;
  --input-box-shadow: none;
  --input-border-radius: var(--radius-md);
  --input-focus-bg: var(--tools-secondary-panel-bkg);
  --input-focus-border-color: var(--base-7);
  --input-placeholder-color: var(--tools-body);

  /* Button */
  --button-padding-y:             14px;
  --button-padding-x:             15px;
  --button-border:                2px;
  --button-border-radius:         var(--radius-sm);
  --button-color:                 var(--base-6);

  /* Button-small */
  --button-sm-padding-y:          14px;
  --button-sm-padding-x:          15px;
  --button-sm-font-size:          var(--button-font-size);

  /* Select */
  --form-select-padding-y: var(--button-padding-y);
  --form-select-padding-x: var(--button-padding-x);
  --form-select-font-family: var(--input-font-family);
  --form-select-font-size: var(--body-md-font-size);
  --form-select-font-weight: var(--input-font-weight);
  --form-select-height: 54px;
  --form-select-line-height: 54px;
  --form-select-color: var(--tools-body);
  --form-select-bg: var(--tools-secondary-panel-bkg);
  --form-select-disabled-color: var(--tools-primary-panel);
  --form-select-disabled-bg: var(--input-disabled-bg);
  --form-select-disabled-border-color: var(--base-7);
  --form-select-indicator-color: var(--tools-headings);
  --form-select-indicator: url("../../../../nextgentools/v3/assets/angle.svg");
  --form-select-indicator-hover: url("../../../imgs/white-angle.png");
  --form-select-border-width: var(--button-border);
  --form-select-border-style: var(--input-border-style);
  --form-select-border-color: var(--tools-chart-color--2);
  --form-select-border-radius: var(--button-border-radius);
  --form-select-box-shadow: var(--input-box-shadow);
  --form-select-focus-bg: var(--input-focus-bg);
  --form-select-focus-border-color: var(--input-focus-border-color);

  /* Checkbox */
  --form-check-input-width: 16px;
  --form-check-input-height: 16px;
  --form-check-label-color: var(--base-8);
  --form-check-input-bg: var(--input-bg);
  --form-check-icon-color: var(--tools-body);
  --form-check-input-border-color: var(--base-8);
  --form-check-input-border-width: var(--input-border-width);
  --form-check-input-border-style: var(--input-border-style);
  --form-check-input-border-radius: var(--radius-nil);
  --form-check-radio-border-radius: 50%;
  --form-check-input-focus-border: var(--base-8);
  --form-check-input-focus-box-shadow: var(--input-box-shadow);

  /* Link */
  --link-color: var(--tools-body);
  --link-decoration: none;

  /* Accordion */
  --accordion-trigger-padding-y: var(--sm-4, 0.8rem);
  --accordion-trigger-padding-x: var(--sm-4, 0.8rem);
  --accordion-trigger-bg: var(--tools-secondary-panel-bkg);
  --accordion-trigger-color: var(--tools-primary-panel-bkg);
  --accordion-trigger-font-size: var(--body-sm-fs);
  --accordion-trigger-font-weight: var(--primitive-weight-regular, 400);
  --accordion-panel-padding-y: var(--sm-4, 0.8rem);
  --accordion-panel-padding-x: var(--sm-4, 0.8rem);
  --accordion-panel-bg: var(--tools-secondary-panel-bkg);
  --accordion-panel-color: var(--tools-body);
  --accordion-panel-border-width: 1px;
  --accordion-panel-border-style: solid;
  --accordion-panel-border-color: var(--tools-border-lines);

  /* Pagination */
  --pagination-padding-y: var(--xs-1, 0.8rem);
  --pagination-padding-x: var(--xs-2, 0.8rem);
  --pagination-spacer-y: var(--nil, 0rem);
  --pagination-spacer-x: var(--nil, 0rem);
  --pagination-color: var(--tools-primary-panel);
  --pagination-bg: var(--tools-secondary-panel-bkg);
  --pagination-border-width: none;
  --pagination-border-radius: var(--radius-nil, 0px);
  --pagination-border-color: transparent;
  --pagination-focus-color: var(--pagination-color);
  --pagination-focus-bg: none;
  --pagination-hover-color: var(--base-2);
  --pagination-active-color: var(--base-5);
  --pagination-disabled-color: var(--base-4);
  --pagination-font-family: var(--primitive-family-body);
  --pagination-font-size: var(--body-md-fs);
  --pagination-font-weight: var(--primitive-weight-regular);
  --pagination-line-height: var(--label-line-height, 2rem);

  /* card */
  --card-padding-y: var(--sm-2, 1.6rem);
  --card-padding-x: var(--sm-3, 1.2rem);
  --card-spacer-y: 1.25rem;
  --card-title-spacer-y: 0.5rem;
  --card-border: none;

  /* box shadow */
  --box-shadow-color: rgba(0, 0, 0, 0.15);

  /*********Other predefied variables********/
  --share-price-calculator-border-color: var(--tools-headings);
  --investment-summary-background-color: var(--tools-secondary-panel-bkg);
  --spc-snapshot-success-color: var(--success);
  --spc-snapshot-error-color: var(--error);
}
/*********************** Structure CSS *********************/

/* CSS for SPCenter starts here */
.invd-container *:focus-visible{
  outline: 2px solid var(--base-1) !important;
  outline-offset: 2px !important;
}
.invd-container .checkbox .form-control:focus-visible + .form-item__label .icon, .invd-container .button:focus-visible, .invd-container .radio .form-control:focus-visible + .form-item__label .icon{
  outline: 2px solid var(--base-1) !important;
  outline-offset: 2px !important;
}
.invd-container .highchart-custom-container{background-size: 80px !important;}
.invd-container .tooltip{opacity: 1;font-size: var(--body-xs-fs);color: var(--base-1);border: 1px solid var(--base-2);box-shadow: 0 2.451px 4.901px 0 rgba(0, 0, 0, 0.04);}
.invd-container .tooltip-price, .invd-container .tooltip-volume, .invd-container .ohl-data-item > .value{font-size: var(--body-md-fs);color: var(--tools-primary-panel);font-weight: var(--primitive-weight-regular);font-family: var(--primitive-family-body);}
.invd-container .cid-spc .cid-chart-container .spc-tooltip-value-diff {font-size: var(--body-md-fs);}
/* .invd-container .tooltip-basic-info {border-color: var(--base-2) !important;margin-top: 0 !important;} */
.invd-container .ohl-wrapper .ohl-data-item, .invd-container .comparator-data-item--info{font-size: var(--body-md-fs);color: var(--tools-body);}
.invd-container .comparator-data-item{padding: 0;}
.invd-container .highcharts-axis-labels text, .invd-container .highcharts-axis text, .highcharts-legend-item text{font-family: var(--primitive-family-body) !important;font-size: var(--body-xs-fs) !important;color: var(--tools-body) !important;fill: var(--tools-body) !important;font-weight: var(--primitive-weight-regular) !important;}
.invd-container .mt-5{margin-top: 5px !important;}
.invd-container .mr-5{margin-right: 5px !important;}
.invd-container .ml-5{margin-left: 5px !important;}
.invd-container .pl-5{padding-left: 5px !important;}
.invd-container .shareprice__current{font-size: 35px;color: var(--tools-primary-panel) !important;margin-right: 20px;font-family: var(--primitive-family-body);}
.invd-container .shareprice__currency{font-size: 35px;margin-left: 5px;font-family: var(--primitive-family-body);}
.invd-container .shareprice__container{margin: 10px 0 10px 0;}
.invd-container .shareprice__change{margin: 5px 0 30px 0;}
.invd-container .shareprice__change div{color: var(--tools-primary-panel) !important;font-family: var(--primitive-family-body);}
.invd-container .shareprice__last-updated--label{margin-bottom: 5px !important;}
.invd-container .cid-snapshot-box, .invd-container .shareprice__change, .invd-container .shareprice__last-updated, .invd-container .cid-snapshot-box__right-content{font-size: var(--body-md-fs);color: var(--tools-secondary-panel-bkg) !important;}
.invd-container .shareprice__last-updated--timestamp{font-size: var(--body-md-fs);color: var(--tools-primary-panel) !important;margin-top: 0 !important;font-family: var(--primitive-family-body);}
.invd-container .cid-snapshot-box{min-height: 170px;padding: 20px 20px 0 20px;background: transparent !important;border-color: var(--tools-primary-panel-bkg) !important;}
.invd-container .shareprice__last-updated{margin-top: 50px;}
.invd-container dt, .invd-container .shareprice__last-updated--label{font-size: var(--body-sm-fs);font-weight: var(--primitive-weight-medium);color: var(--tools-primary-panel);margin-bottom: 0;font-family: var(--primitive-family-tertiary);letter-spacing: .3px;text-transform: uppercase;}
.invd-container .data-points__container dd{font-size: var(--body-md-fs);margin-bottom: 20px;font-family: var(--primitive-family-body);line-height: 20px;color: var(--tools-primary-panel);font-weight: var(--primitive-weight-regular);}
.invd-container .cid-snapshot-box .range-indicator__container{margin-top: 15px;}
.invd-container .cid-range-indicator dd {font-size: var(--body-md-fs);margin-bottom: 35px;font-family: var(--primitive-family-body);color: var(--tools-primary-panel);}
.invd-container .cid-subtitle, .invd-container h3{font-size: var(--display-s-font-size) !important;font-family: var(--primitive-family-body) !important;font-weight: var(--primitive-weight-regular) !important;line-height: 1;color: var(--color-headline) !important;margin: 10px 0;padding: 0;text-transform: none;}
.invd-container .shareprice__change-sign{margin: 5px 0 0 0 !important;}
.invd-container .highcharts-menu-item {font-size: 12px !important;}
.invd-container .tab-list--bordered .tab, .invd-container .chart-link a{border: 1px solid var(--tools-border-lines) !important;color: var(--tools-primary-panel) !important;font-size: 13px !important;font-family: var(--primitive-family-body) !important;font-weight: var(--primitive-weight-regular) !important;/*margin-left: 10px;flex-grow: 0;*/padding: 15px 10px;line-height: 1;/*line-height: 0;*/min-width: auto;text-transform: uppercase;background: var(--tools-secondary-panel);letter-spacing: .3px;margin-right: 10px;}
.invd-container .tab-list--bordered .tab::after{display: none !important;}
.invd-container .tab-list--bordered .tab:first-child, .invd-container .chart-link a:first-child{margin-left: 0;}
.invd-container .tab-list--bordered .tab[aria-selected="true"], .invd-container .chart-link a.active, .invd-container .tabs-spld a.active, .invd-container .tab.link.tablinks-spl.active {background-color: var(--tools-secondary-panel-bkg) !important;color: var(--tools-primary-panel) !important;border: 1px solid var(--tools-border-lines) !important;}
.invd-container .tab-list--bordered .tab[aria-selected="true"]:hover, .invd-container .chart-link a.active:hover, .invd-container .tabs-spld a:hover, .invd-container .tab.link:hover {background-color: var(--tools-secondary-panel-bkg) !important;color: var(--tools-primary-panel) !important;border: 1px solid var(--tools-border-lines) !important;}
.invd-container .tab-list--bordered .tab:first-of-type:not(.more-tab){border-left: 1px solid;}
.invd-container .tab.link.tablinks.active, .invd-container .tab.link:hover, .invd-container .chart-link a:hover {background-color: var(--tools-secondary-panel-bkg) !important;color: var(--tools-primary-panel) !important;border: 1px solid var(--tools-border-lines) !important;}
.invd-container #tabDiv{margin-bottom: 10px;}
.invd-container .tab-div button{width: 50%;}
.invd-container .tab-div button,
.invd-container .cid-spc .cid-tabs .mycontent .button.button-go, .invd-container .cstm-btn {
  background: var(--tools-secondary-panel-bkg);text-transform: none;min-height: 54px !important;font: var(--primitive-weight-medium) var(--body-md-fs) var(--primitive-family-tertiary);width: auto;border: var(--button-border) solid var(--base-7);border-radius: var(--button-border-radius) !important;color: var(--base-6);padding: var(--button-padding-y) var(--button-padding-x) !important;transition: all .3s;margin-top: 24px;}
.invd-container .tab-div button.active, .invd-container .tab-div button:hover,
.invd-container .cid-spc .cid-tabs .mycontent .button.button-go:hover, .invd-container .cstm-btn:hover{
  border-color: transparent; background: linear-gradient(#fff 0 0) padding-box, linear-gradient(45deg, #0077C8, #8CC7CF, #0077C8, #8CC7CF) border-box;}
.invd-container .tab-div .tablinks:focus, .invd-container .fieldset-options-wrapper .form-item:focus {outline: none !important;}
.invd-container .date-filter .datepicker-wrapper input {
  width: 100%;
  height: 54px;
  margin-bottom: 0;
  background: var(--tools-secondary-panel-bkg);
  padding: var(--input-padding-y) var(--input-padding-x);
  border: 1px solid var(--base-7);
  border-radius: var(--input-border-radius);
  font: var(--primitive-weight-regular) var(--body-md-fs) var(--primitive-family-body);
  color: var(--color-body);
  line-height: 1;
  box-shadow: none;
}
.invd-container .datepicker-wrapper label{
  letter-spacing: .3px;
  text-transform: uppercase;
  font: var(--label-font-size) var(--primitive-family-tertiary) !important;
  color: var(--base-1);
}
.invd-container .duet-date__toggle {
  background: var(--duet-color-button);
  border: 0;
  border-radius: 0 !important;
  border-bottom-right-radius: var(--duet-radius);
  border-top-right-radius: var(--duet-radius);
  box-shadow: none;
  color: var(--tools-body);
  height: calc(100% - 2px);
  padding: 0;
  position: absolute;
  right: 10px;
  top: 1px;
  width: 30px;
  z-index: 2;
}
.invd-container .mycontent .date-filter .datepicker-wrapper{width: 35% !important;}
.invd-container .duet-date__toggle:focus {box-shadow: none;outline: 0;}
.invd-container .duet-date__dialog-content .duet-date__header .duet-date__select{border-color: var(--base-6) !important;height: 25px;}
.invd-container .duet-date__dialog-content .duet-date__header .duet-date__select select{font-size: var(--body-sm-fs);}
.invd-container .duet-date__dialog-content .duet-date__header .duet-date__prev, .invd-container .duet-date__dialog-content .duet-date__header .duet-date__next{background: var(--tools-primary-panel);color: var(--tools-secondary-panel-bkg);}
/* .invd-container .cid-spc .cid-tabs .mycontent .button.button-go {margin-top: 25px;} */
.invd-container .cid-spc .cid-tabs .mycontent {background: var(--tools-secondary-panel-bkg);border: 1px solid var(--tools-border-lines);}
.invd-container .cid-tabs.tabs .collapsible{font-size: var(--label-font-size) !important;padding: 15px 10px !important;opacity: 1 !important;pointer-events: auto !important;margin-right: 0;}
.invd-container .highcharts-menu-item, .invd-container .tooltip{font-family: var(--primitive-family-body);line-height: 1;}
.invd-container .cid-spc .fieldset-wrapper {min-height: 75px;}
.invd-container .cid-spc .radio .icon{margin-top: 8px !important;}
.invd-container .radio .icon, .invd-container .checkbox .icon {height: 16px;width: 16px;min-width: auto;border: 1px solid var(--base-8) !important;margin-top: 0px;background-color: var(--tools-secondary-panel-bkg);}
.invd-container .icon-size-20 .svg {height: 16px !important;width: 16px !important;min-width: auto;margin-top: -1px;padding: 3px;}
.invd-container .radio .form-control:checked + .form-item__label .icon{background: var(--tools-secondary-panel-bkg);border-color: var(--tools-primary-panel);}
.invd-container .checkbox .form-control:checked + .form-item__label .icon {border-color: var(--tools-primary-panel);background-color: var(--tools-secondary-panel-bkg) !important;}
.invd-container .radio .form-control:checked + .form-item__label .icon .svg{color: var(--tools-primary-panel) !important;fill: var(--tools-primary-panel) !important;}
.invd-container .checkbox .form-control:checked + .form-item__label .icon .svg {color: var(--tools-primary-panel);fill: var(--tools-primary-panel) !important;}
.invd-container .fieldset-title{font-size: var(--label-font-size);font-weight: normal !important;width: auto;padding: 0 5px;font-family: var(--primitive-family-tertiary);color: var(--base-1);letter-spacing: .3px;text-transform: uppercase;float: none;}
.invd-container .form-item__label{font-size: var(--body-sm-fs);font-weight: var(--primitive-weight-regular);color: var(--color-body);line-height: 20px;}
.invd-container .form-item__control.checkbox, .invd-container .form-item__control.radio{line-height: 30px;}
.invd-container .radio .svg{-webkit-transform: scale(0.5) !important;transform: scale(0.5) !important;}
.invd-container .checkbox .form-control:focus + .form-item__label .icon{border-color: var(--tools-primary-panel) !important;}
.invd-container table.table thead th{background-color: var(--table-th-bg) !important;font-size: 13px;color: var(--base-9);padding: var(--table-cell-padding-y) var(--table-cell-padding-x) !important;font-weight: var(--primitive-weight-medium);font-family: var(--primitive-family-tertiary);text-transform: uppercase;letter-spacing: 0.78px;}
.invd-container table td{font-size: var(--body-md-fs);color: var(--base-9) !important;font-weight: var(--primitive-weight-regular) !important;padding: var(--table-cell-padding-y) var(--table-cell-padding-x) !important;/*background: var(--tools-secondary-panel-bkg);*/font-family: var(--primitive-family-body);vertical-align: middle;}
.invd-container table th.duet-date__table-header, .invd-container table td.duet-date__cell{background: var(--base-5);}
.invd-container .cid-disclaimer p{color: var(--tools-body);font-size: var(--body-xs-fs) !important;font-family: var(--primitive-family-body);}
/* .invd-container .pl-5{display: inline-block;} */
.invd-container .invd-no-data-td.invd-align{text-align: center;}
.invd-container .table--striped-horizontal thead tr, .invd-container .table--striped-horizontal tr:nth-of-type(even){background-color: var(--table-bg);}
.invd-container .table--striped-horizontal tr{border-bottom: 0px solid var(--table-border-color);border-left: 0px solid var(--table-border-color);border-right: 0px solid var(--table-border-color);border-top: 0px solid var(--table-border-color);background: rgba(118, 134, 146, 0.1);}
.invd-container button.cid-button-more{text-transform: none;color: var(--tools-chart-color--1);background: var(--tools-primary-panel) !important;border: 1px solid var(--tools-chart-color--1) !important;font-family: var(--primitive-family-titles);padding: 8px 10px 4px 10px;font-size: var(--body-md-fs);border-radius: var(--button-border-radius);}
.invd-container button.cid-button-more:hover{background: var(--tools-chart-color--1) !important;color: var(--tools-primary-panel) !important;}
.invd-container .cid-snapshot-box__right-content--toggle{color: var(--tools-primary-panel);margin-top: 0 !important;}
.invd-container .cid-trades-center .cid-snapshot-box .color-positive, .invd-container .cid-spc .cid-snapshot-box .color-positive, .invd-container .cid-minichart .cid-snapshot-box .color-positive{color: var(--success) !important;}
.invd-container .cid-trades-center .cid-snapshot-box .color-negative, .invd-container .cid-spc .cid-snapshot-box .color-negative, .invd-container .cid-minichart .cid-snapshot-box .color-negative{color: var(--error) !important;}
/* .invd-container .cid-spc cid-comparator-mode-option{display: none;} */
.invd-container .ohl-data-item{text-transform: capitalize;width: auto;}
.invd-container .market-status-type{text-transform: none;color: var(--tools-primary-panel);vertical-align: top;line-height: 24px;font-family: var(--primitive-family-body);}
.invd-container .accordion-item h4{margin-top: 0;}
.invd-container .accordion-item:first-child h4{/*margin-top: 20px !important;*/}
.invd-container .cid-chart-options .accordion-item h5 {margin: 0;}
.invd-container .accordion-trigger,
.invd-container .accordion-trigger:hover {
  padding: 10px 10px !important;
  color: var(--tools-primary-panel);
  border: 1px solid rgba(151,151,151,0.2) !important;
  background: transparent;
  font-family: var(--primitive-family-body);
  font-weight: var(--primitive-weight-regular);
  font-size: var(--body-sm-fs);
  text-transform: none;
}
.invd-container .accordion-item:last-child h4 a{}
.invd-container .accordion-trigger[aria-expanded="true"]{
  border-color: rgba(151,151,151,0.2);
  background: transparent;
  color: var(--tools-primary-panel);
  border-bottom: 0 !important;
}
.invd-container .accordion-trigger:focus{
  border-color: rgba(151,151,151,0.2);
  background: transparent;
  color: var(--tools-primary-panel);
}
.invd-container .accordion-item{margin-bottom: 10px !important;border-radius: 0;}
.invd-container .accordion-panel{
  background: transparent;
}
.invd-container .accordion-trigger.link .svg, 
.invd-container .accordion-trigger:hover .svg, 
.invd-container .accordion-trigger:focus .svg {
  fill: var(--accordion-trigger-color) !important;
  display: block;
  height: 40px;
  width: 40px;
}
.invd-container #order-depth-wrapper #orderDepth .table-header{background-color: var(--table-th-bg) !important;font-size: var(--body-md-fs);color: var(--tools-secondary-panel-bkg) !important;padding: var(--table-cell-padding-y) var(--table-cell-padding-x);font-weight: var(--table-th-font-weight);}
.invd-container #order-depth-wrapper .table-data .table-row{background-color: var(--tools-secondary-panel-bkg);font-size: var(--body-md-fs);color: var(--table-color);padding: var(--table-cell-padding-y) var(--table-cell-padding-x);font-weight: var(--primitive-weight-light);border-bottom: 1px solid var(--table-border-color);height: auto;border-left: 1px solid var(--table-border-color);border-right: 1px solid var(--table-border-color);}
.invd-container #order-depth-wrapper #orderDepth .order-depth-subtitle{font-size: var(--display-sm-fs);font-weight: var(--primitive-weight-semi-bold);color: var(--tools-body);text-transform: uppercase;}
.invd-container .duet-date__dialog-content{margin-left: 0;margin-top: 0;background: var(--tools-secondary-panel-bkg);}
.invd-container table .duet-date__day {
    background: transparent;
    color: var(--duet-color-text);
    font-size: var(--body-sm-fs);
    line-height: 40px;border-radius: 0;
}
.invd-container table .duet-date__day[aria-pressed=true]{background: var(--base-1);color: var(--base-5);}
/* .invd-container .cid-snapshot-box__left-content{width: 100%;} */
/* .invd-container .cid-snapshot-box__right-content{width: 100%;margin-top: 10px;} */
.invd-container .date-filter .form-item__error-message .form-item_insider_register_error-message {margin: 10px 0 0 0;}
/* CSS for SPCenter ends here */

/* CSS for TRC starts here */
.invd-container .modal .modal-footer button.cancel{pointer-events: auto;}
.invd-container .trc-container .trc-calculator .investment-information .form-fields{padding-top: 0;}
.invd-container .trc-container h4, .invd-container .cid-dvc h4, .total-return-grid-table.total-return-table.table--scrollable h2{font: var(--primitive-weight-regular) var(--display-s-font-size) var(--primitive-family-body);color: var(--base-3);}
.invd-container .cid-trc .total-return-chart-container .mycontent .form-control.button, .invd-container .modal .modal-footer button.cancel{background: var(--tools-secondary-panel-bkg);border: var(--button-border) solid var(--base-7);border-radius: var(--button-border-radius);font: var(--primitive-weight-medium) var(--body-md-fs) var(--primitive-family-tertiary);color: var(--base-6);padding: var(--button-padding-y) var(--button-padding-x);transition: all .3s;width: auto;margin-top: 26px;}
.invd-container .cid-trc .total-return-chart-container .mycontent .form-control.button:hover, .invd-container .modal .modal-footer button.cancel:hover{border-color: transparent;background: linear-gradient(#fff 0 0) padding-box, linear-gradient(45deg, #0077C8, #8CC7CF, #0077C8, #8CC7CF) border-box;}
.invd-container .download-excel span{color: var(--tools-body);padding-right: 0 !important;font-size: var(--body-md-fs);}
.invd-container .dividend-yield, .invd-container .total-return{background: var(--base-4);border: 1px solid var(--base-4);min-height: 110px !important;height: 110px !important;padding: 1rem !important;}
.invd-container .total-return .total-return--item__title span{color: var(--tools-body);text-transform: uppercase;font-family: var(--primitive-family-titles);font-size: var(--body-sm-fs) !important;letter-spacing: .3px;}
.invd-container .cid-chart-options .form-item__label-text{font-weight: var(--primitive-weight-regular) !important;text-transform: none;font-size: var(--body-md-fs);font-family: var(--primitive-family-body);color: var(--base-1);}
.invd-container .fieldset-options-wrapper{padding: 5px 10px 0 0;}
.invd-container .total-return-calc-notes, .invd-container section.faq-container p{color: var(--base-1);opacity: 1;}
.invd-container .faq-container a{color: var(--base-9);font-weight: normal;font-family: var(--primitive-family-tertiary);}
.invd-container .faq-container a:hover{outline: none;color: var(--base-2);}
.invd-container .total-return--item__data, .invd-container .dividend-yield--item__data{font-size: var(--body-xs-line-height);color: var(--base-2);font-weight: normal;font-family: var(--primitive-family-body);}
.invd-container .investment-summary .background-color-primary-1.color-monochrome-1.key-metric--title{background: var(--tools-chart-color--2) !important;}
.invd-container .investment-summary .key-metric--body{border-color: var(--tools-chart-color--2) !important;}
.invd-container .investment-summary .key-metric--val{font-size: var(--display-s-font-size) !important;font-weight: normal;}
.invd-container .total-return-calc-table-notes dd{color: var(--tools-body);}
.invd-container .fieldset-wrapper{border-color: var(--base-2) !important;border-radius: 0;}
.invd-container .total-return-calc-table-notes>dl>dt{font-weight: normal;font-family: var(--primitive-family-tertiary) !important;}
.invd-container .trc-calculator .investment-information .form-item__control{display: block;}
.invd-container .cid-trc .total-return-chart-container .mycontent{border: 1px solid var(--tools-border-lines);}
/* CSS for TRC ends here */

/* CSS for DVC starts here */
.invd-container .latest-dividend, .invd-container .dividend-summary{background: var(--base-4);border: 1px solid var(--base-4);padding: 1rem !important;}
.invd-container .latest-dividend--item__title, .invd-container .dividend-yield--item__title, .invd-container .total-return .total-return--item__title span{color: var(--tools-body);text-transform: uppercase;font-family: var(--primitive-family-tertiary);font-size: var(--body-sm-fs) !important;letter-spacing: 0;}
.invd-container .latest-dividend--item__data{font-size: var(--body-md-fs);color: var(--tools-body);}
.invd-container .invd-indicate-future-span{color: var(--tools-body);}
.invd-container .shareholding-information .calculator-input-box, .invd-container .shareholding-information .duet-date__input{min-height: 54px;font: var(--primitive-weight-regular) var(--body-md-fs) var(--primitive-family-body);color: var(--base-8);}
.invd-container .dividend-summary--heading{font-size: var(--body-sm-fs);text-transform: uppercase;font-family: var(--primitive-family-tertiary);color: var(--tools-body);letter-spacing: .3px;}
.invd-container .dividend-summary--price{font: var(--primitive-weight-regular) var(--display-s-font-size) var(--primitive-family-body);color: var(--base-2);margin-top: 1rem !important;}
.invd-container .dividend-history-search .download-excel .d-xs-flex{margin-top: 15px;}
.invd-container .shareholding-information .form-item, .invd-container .shareholding-information .form-item__control{display: block;margin-bottom: 20px !important;margin-right: 0 !important;}
.invd-container .shareholding-information .calculator-input-box{max-width: 100% !important;width: 100% !important;}
/* CSS for DVC ends here */

/* CSS for HPL starts here */
.invd-container .form-item__label{font: var(--body-sm-fs) var(--primitive-family-tertiary);text-transform: uppercase;letter-spacing: .3px;}
/* .invd-container .duet-date__toggle{background: var(--tools-primary-panel);box-shadow: none;} */
.invd-container .duet-date__toggle:focus{box-shadow: none;}
.invd-container table th.duet-date__table-header{color: var(--tools-primary-panel);padding: 5px 0px !important;}
.invd-container .pagination .link{margin: 0;padding: 5px 10px 5px 10px !important;}
.invd-container li.pagination__item.pagination__item--next a, li.pagination__item.pagination__item--previous a{color: var(--tools-primary-panel-bkg);/*margin-top: 15px;*/}
.invd-container .pagination .link:hover{text-decoration: none;font-weight: var(--primitive-weight-regular);color: var(--pagination-color);}
.invd-container li.pagination__item.pagination__item--active{background: var(--tools-primary-panel-bkg);}
.invd-container .pagination .pagination__item--active a{text-decoration: none;font-weight: var(--primitive-weight-regular);color: var(--pagination-active-color) !important;}
.invd-container .box-header{align-items: center;}
.invd-container .box-header-btn .cstm-btn {height: auto;min-height: auto;padding: 0;border: 0;background: transparent;background-color: transparent;font-size: var(--body-lg-fs);color: var(--tools-headings);font-weight: var(--primitive-weight-regular);font-size: var(--display-sm-fs);font-family: var(--primitive-family-titles);}
.invd-container .box-header h3 {color: var(--tools-headings);font-weight: var(--primitive-weight-regular);font-size: var(--display-sm-fs);font-family: var(--primitive-family-titles);}
.invd-container .dividend-history-pagination .pagination{margin-top: 0;}
.invd-container .tooltip-volume strong{margin-left: 5px;}
.invd-container .date-filter-box-wrapper .datepicker-wrapper{width: 30%;}

/* CSS for HPL ends here */

/* CSS for SPCalc starts here */
.invd-container .current-value-calculator--items{margin: 0 !important;}
.invd-container .investment-summary--change{margin: 0 !important;}
.invd-container .investment-summary--heading{letter-spacing: 0;padding-top: 0;}
.invd-container .investment-summary--data div.col-xs-6{margin-top: 0;}
.invd-container .highcharts-container, .invd-container .highcharts-announcer-container, .invd-container .investment-period-chart{margin-top: 0 !important;}
.invd-container duet-date-picker#calc-date-option-from, .invd-container duet-date-picker#calc-date-option-to{width: 100%;}
/* .invd-container.inchcape-spcalculator .col-xs-12{margin: 0;} */
.invd-container .d-xs-block.d-sm-block.full-width.form-item__control.textfield{margin-top: 10px;margin-bottom: 20px;}
.invd-container .investment-information .duet-date__input{background: var(--tools-secondary-panel-bkg);border-radius: var(--input-border-radius) !important;font-size: var(--body-md-fs);border-color: var(--base-7);line-height: inherit;padding: var(--input-padding-y) var(--input-padding-x) !important;height: 54px;box-shadow: none;}
.invd-container .current-value-calculator .textfield .form-control, .invd-container .textfield .form-control{background: var(--tools-secondary-panel-bkg) !important;outline: none;font: var(--primitive-weight-regular) var(--body-md-fs) var(--primitive-family-body);min-height: 54px;color: var(--base-8);border-radius: var(--input-border-radius) !important;border-color: var(--base-7) !important;}
.invd-container .investment-information label.form-item__label, .invd-container .investment-information-container legend, .invd-container .investment-summary-container legend{letter-spacing: .3px;text-transform: uppercase;font: var(--label-font-size) var(--primitive-family-tertiary) !important;color: var(--base-1);}
.invd-container .investment-information-container legend, .invd-container .investment-summary-container legend{font-size: 20px !important;color: var(--base-3);text-transform: none;}
.invd-container .investment-information .form-item__control.radio span.form-item__label-text{letter-spacing: 0;font-size: var(--body-md-fs);color: var(--base-1);font-weight: var(--primitive-weight-regular);font-family: var(--primitive-family-body);text-transform: none;}
.invd-container .current-value-calculator--heading{font-size: var(--body-md-fs);font-weight: var(--primitive-weight-light);font-family: var(--primitive-family-titles);color: var(--tools-body);}
.invd-container .investment-summary--wrapper, .invd-container .current-value-of-holdings{background: var(--tools-secondary-panel);}
.invd-container .current-value-calculator h4, .invd-container .change-value-calculator h4{text-transform: uppercase;font: var(--primitive-weight-regular) var(--display-s-font-size) var(--primitive-family-body);color: var(--tools-body);margin-bottom: 10px;}
.invd-container .investment-information .form-control.button{background: var(--tools-secondary-panel-bkg);text-transform: none;min-height: 54px !important;font: var(--primitive-weight-medium) var(--body-md-fs) var(--primitive-family-tertiary);width: auto;border: var(--button-border) solid var(--base-7);border-radius: var(--button-border-radius) !important;color: var(--base-6);padding: var(--button-padding-y) var(--button-padding-x) !important;transition: all .3s;}
.invd-container .investment-information .form-control.button:hover{border-color: transparent; background: linear-gradient(#fff 0 0) padding-box, linear-gradient(45deg, #0077C8, #8CC7CF, #0077C8, #8CC7CF) border-box;}
.invd-container .current-value-calculator--value-of-holdings, .invd-container .current-value-calculator--share-price, .invd-container .investment-summary--heading, .invd-container .investment-summary--sub-heading, .invd-container .investment-summary--price, .invd-container .investment-summary--price-per-share{color: var(--tools-body);letter-spacing: 0;}
.invd-container .textfield .form-control:focus{border-color: var(--base-6);}
/* CSS for SPCalc ends here */

/* CSS for SFT starts here */
.invd-container .shareprice-table tr {border: 0 !important;}
.invd-container .shareprice-table th, .invd-container .shareprice-table td{border: 1px solid var(--table-border-color) !important;padding: var(--table-cell-padding-y) var(--table-cell-padding-x) !important;}
.invd-container .shareprice-table .color-positive:after,
.invd-container .shareprice-table .color-negative:after{margin: 5px 0 0 5px;}
.invd-container .cid-disclaimer a{vertical-align: middle;margin-top: -1px;}
.invd-container .shareprice-table--list-item__label{font-size: var(--body-md-fs);font-family: var(--primitive-family-titles);font-weight: var(--primitive-weight-light);}
/* CSS for SFT ends here */

/* CSS for Minichart starts here */
.invd-container .cid-minichart{background: var(--tools-secondary-panel-bkg) !important;}
.invd-container .cid-minichart .cid-snapshot-box{background: var(--tools-secondary-panel-bkg) !important;border: 0 !important;min-height: 80px !important;padding: 0px 20px 0 20px !important;}
.invd-container .cid-minichart .cid-snapshot-box__left-content{min-height: 80px;}
.invd-container .cid-minichart .shareprice__currency, .invd-container .cid-minichart .shareprice__current{color: var(--tools-secondary-panel) !important;font-family: var(--primitive-family-tertiary) !important;font-size: 23px !important;font-weight: var(--primitive-weight-semi-bold) !important;}
.invd-container .cid-minichart .shareprice__market-status, .invd-container .cid-minichart .shareprice__last-updated--label{display: none !important;}
.invd-container .cid-minichart .shareprice__change{width: 70%;margin: 5px 0 0px 0 !important;font-weight: var(--primitive-weight-semi-bold) !important;font-size: 13px !important;font-family: var(--primitive-family-titles) !important;}
.invd-container .cid-minichart .shareprice__last-updated--timestamp{color: #9B9B9B !important;font-weight: var(--primitive-weight-regular) !important;font-size: 13px !important;font-family: var(--primitive-family-titles) !important;}
.invd-container .cid-minichart .highchart-custom-container{height: 300px !important;}
.invd-container .cid-minichart .cid-historical-traded-data-analysis{padding: 0;}
.invd-container .cid-minichart .shareprice__change-sign{margin: 3px 0 0 0 !important;}
.invd-container .cid-minichart .cid-snapshot-box .color-positive{color: #9B9B9B !important;}
.invd-container .cid-minichart .shareprice__container{width: 30%;margin: 0;}
.invd-container .cid-minichart .shareprice__last-updated{margin-top: 32px;}
.invd-container .cid-minichart .tab-list--bordered .tab{min-height: 25px !important;height: 25px !important;padding: 0 !important;font-size: 13px !important;text-transform: none !important;background: #F4F4F4 !important;color: #555 !important;}
.invd-container .cid-minichart .tab-list--bordered .tab[aria-selected="true"]{color: #050D73 !important;background: #fff !important;}
.invd-container .highcharts-axis.highcharts-yaxis .highcharts-axis-line, .invd-container path.highcharts-axis-line{stroke-width: 0 !important;}
/* CSS for Minichart ends here */

/* CSS changes after integration in managed client here */
/* .invd-container .cid-range-indicator--data, .invd-container .cid-range-indicator__knob-progress-wrapper,
.invd-container .cid-range-indicator__knob{color: var(--tools-primary-panel);margin-bottom: 0;}
.invd-container .range-indicator__container{margin-top: 0;}
.invd-container .accordion-trigger::after{display: none;}
.invd-container .tabs--horizontal .tab-list{padding: 0;}
.invd-container .mycontent .date-filter .datepicker-wrapper{margin-top: 0;width: 35%;}
.invd-container .date-filter-box-wrapper .datepicker-wrapper {margin-top: 0 !important;margin-bottom: 0 !important;}
.invd-container .date-filter .duet-date .duet-date__input-wrapper{margin-bottom: 0 !important;}
.invd-container .duet-date__dialog.is-active{margin-top: 0 !important;}
.invd-container .duet-date__header{margin-top: 0;}
.invd-container .duet-date__nav{margin-top: 0px !important;}
.invd-container .tooltip div{margin-bottom: 5px;margin-top: 0;}
.invd-container table th.duet-date__table-header * {color: var(--tools-headings);}
.invd-container .duet-date__dialog-content .duet-date__header .duet-date__select{margin-bottom: 0 !important;margin-top: 0 !important;}
.invd-container .highcharts-tooltip{margin-top: 0 !important;}
.invd-container .date-filter .duet-date__select .duet-date__select-label{padding: 5px 5px 3px 5px;}
.invd-container .date-filter .duet-date__select-label svg{margin-top: -2px;} */

/* media query CSS here */
@media only screen and (min-width: 1600px) {
  .invd-container .cid-snapshot-box__left-content {
    width: 33%;
  }
  .invd-container .cid-snapshot-box__right-content{
    width: 65%;
    margin-top: 0;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .invd-container .tabs--horizontal .tab-list{padding: 0 5px;}
}
@media only screen and (max-width: 800px) {
  .invd-container .tab-list--bordered .tab{
    min-width: auto;
    padding: 0 10px !important;
  }
}
@media only screen and (max-width: 768px) {
  .invd-container .shareprice__last-updated{margin-top: 50px;}
  .invd-container .tab-list--bordered .tab{font-size: var(--body-md-fs) !important;}
  .invd-container .cid-disclaimer img{margin-left: 0;}
  .invd-container .data-points__container dd{margin-bottom: 10px;}
  .invd-container button.cid-button-more{margin-left: 0;}
}
@media only screen and (max-width: 767px) {
  .invd-container .cid-range-indicator dd{margin-bottom: 15px;}
  .invd-container .cid-snapshot-box .range-indicator__container{margin-top: 0;}
  .invd-container .cid-trc .total-return-chart-container .date-filter .datepicker-wrapper, .invd-container .cid-spc .cid-tabs .mycontent .date-filter .datepicker-wrapper{width: 100% !important;}
  .invd-container .checkbox, .invd-container .radio{align-items: flex-start !important;}
  .invd-container .cid-spc .fieldset-options-wrapper .form-item{margin-bottom: 0;}
  .invd-container .dividend-summary{margin-top: 10px;}
  .invd-container .trc-container .trc-calculator .investment-information .button.form-control{width: auto !important;}
  .invd-container .investment-information .form-item__control{display: block;}
  .invd-container .tabs--horizontal .tab-list{margin: 0 -5px;}
  .invd-container .cid-historical-traded-data-analysis {padding: 0;}
  .invd-container .tab-list select.tab {
    background-image: url(../../../../nextgentools/v3/assets/images/angle.svg) !important;
    background-position: 98% center !important;
    background-repeat: no-repeat !important;
    outline: none;
    box-shadow: none;
  }
  .invd-container .date-filter-box-wrapper .datepicker-wrapper {margin-bottom: 15px !important;}
  .invd-container .cstm-btn {margin: 0 !important;}
  .invd-container .date-filter-box-wrapper .datepicker-wrapper{width: 100%;}
  .invd-container .date-filter-box-wrapper .date-filter .cstm-btn.dow-btn, 
  .invd-container .date-filter-box-wrapper .date-filter .cstm-btn.update-btn{margin-top: 10px !important;}
}
@media only screen and (max-width: 600px) {
  .invd-container .cid-snapshot-box{padding: 15px 15px 10px 15px;}
  .invd-container .cid-snapshot-box__left-content{margin-bottom: 0;}
  .invd-container .tab-div button{width: 100%;}
  .invd-container .tabs--horizontal .tab-list {flex-direction: column;margin: 0;}
  .invd-container .dividend-calculator-table-container table td{word-break: break-word;}
  .invd-container .shareprice-table th, .invd-container .shareprice-table td{width: 100%;display: block;padding: 10px !important;}
  .invd-container table.table thead th, .invd-container table th, .invd-container table td{padding: 10px !important;}
  .invd-container table th:first-child, .invd-container table td:first-child{/*min-width: 100px;*/}
  .invd-container .dividend-calculator-table thead th:first-child, .invd-container .dividend-calculator-table tbody td:first-child{min-width: 90px;width: 90px;}
  .invd-container .chart-link {text-align: center;display: block;}
  .invd-container .chart-link a {display: block;padding: 10px !important;width: 100%;margin: 0 auto 10px !important;}
  .invd-container .tab-list--bordered .tab{width: 100%;margin: 0 auto 10px !important;}
}
@media only screen and (max-width: 450px) {
  .invd-container .cid-snapshot-box .range-indicator__container {columns: 1;}
  .invd-container .data-points__container dl{columns: 1;}
}